:root,
:root.light {
  --primary-color: white;
  --secondary-color: #efefef;
  --background-color-secondary: linear-gradient(#f2f2f2, white);
  --ternary-color: #383838;
  --border-color-hover: #646cff;
  --handle-color: #383838;

  /* Button variants */
  --button-action-bg: #646cff;
  --button-action-hover: #4e56d6;

  --button-delete-bg: #ff4444;
  --button-delete-hover: #d63838;

  color: var(--ternary-color);
}

:root.dark {
  --primary-color: #1f1f1f;
  --secondary-color: #efefef;
  --background-color-secondary: linear-gradient(#1f1f1f, #383838);
  --ternary-color: #ececec;
  --text-color-backup: #c9c9c9;
  --border-color-hover: #646cff;
  --handle-color: #646cff;

  color: var(--ternary-color);
}

/* Handle styling */
.svelte-flow__handle {
  width: 1vh;
  height: 1vh;
}

.svelte-flow__handle:hover {
  width: 1.5vh;
  height: 1.5vh;
}

:root.dark .svelte-flow {
  --xy-edge-stroke: #efefef;
  --xy-handle-background-color: var(--handle-color);
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}
